<div class="container-fluid" >
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Sign Up Your User Account</h2>
                <p>Fill all form field to go to next step</p>
                <form id="msform" [formGroup]="myform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Account</strong></li>
                        <li id="personal"><strong>Personal</strong></li>
                        <li id="payment"><strong>etude</strong></li>
                        <li id="confirm"><strong>professionnel</strong></li>
                        <li id="confirm"><strong>Finish</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Account Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 5</h2>
                                </div>
                            </div>
                            <label class="fieldlabels">Nom: *</label>
                            <input  type="text" name="uname" formControlName="name" placeholder="UserName"  required/>
                            <div  *ngIf=" myform.get('name').hasError('maxlength')" style="margin-top: 18px">
                               <span style="color: red;display: flex"> max 30 caracteres</span>
                               <br></div>
                             <div  *ngIf=" myform.get('name').hasError('minlength')" style="margin-top: 18px">
                               <span style="color: red;display: flex"> au moin 3 caracteres</span>
                               <br></div>
                             <div  *ngIf="myform.get('name').touched && myform.get('name').hasError('required')" style="margin-top: 18px">
                               <span style="color: red;display: flex"> remplir le champs</span>
                               <br></div>
                               <div  *ngIf=" myform.get('name').hasError('pattern')" style="margin-top: 18px">
                                 <span style="color: red;display: flex"> accepte juste alaphab</span>
                                 <br></div>
                                 <label class="fieldlabels">Prénom: *</label>
                                 <input type="text" name="uname" formControlName="prenom" placeholder="UserName" required />
                                 <div  *ngIf=" myform.get('prenom').hasError('maxlength')" style="margin-top: 0px">
                                    <span style="color: red;display: flex"> max 30 caracteres</span>
                                    <br></div>
                                  <div  *ngIf=" myform.get('prenom').hasError('minlength')" style="margin-top: 0px">
                                    <span style="color: red;display: flex"> au moin 3 caracteres</span>
                                    <br></div>
                                  <div  *ngIf="myform.get('prenom').touched && myform.get('prenom').hasError('required')" style="margin-top: 0px">
                                    <span style="color: red;display: flex"> remplir le champs</span>
                                    <br></div>
                                    <div  *ngIf=" myform.get('prenom').hasError('pattern')" style="margin-top: 0px">
                                      <span style="color: red;display: flex"> accepte juste alaphab</span>
                                      <br></div>
                                      <label class="fieldlabels">Email: *</label>
                                      <input type="email" name="email" formControlName="email" placeholder="Email Id" required />
                                      <div  *ngIf="myform.get('email').touched && myform.get('email').hasError('required')" style="margin-top: -10px">
                                        <span style="color: rgb(190, 4, 4);display: flex"> remplir le champs</span>
                                        <br></div>
                                      <div  *ngIf="myform.get('email').hasError('email')" style="margin-top: 0px">
                                        <span style="color: red;display: flex"> mail invalid </span>
                                        <br></div>
                                        <label class="fieldlabels">Mot de passe: *</label> 
                                        <input type="password"  formControlName="password" name="pwd" placeholder="Password" />
                                        <div  *ngIf="myform.get('password').touched && myform.get('password').hasError('required')" style="margin-top: 0px">
                                          <span style="color: rgb(190, 4, 4);display: flex"> remplir le champs</span>
                                          <br></div>
                                          <div  *ngIf=" myform.get('password').hasError('minlength')" style="margin-top: 0px">
                                            <span style="color: red;display: flex"> au moin 8 caracteres</span>
                                            <br></div>
                                         <label class="fieldlabels">Confirmer le mot de passe: *</label> 
                                         <input type="password"  formControlName="confpassword" name="cpwd" placeholder="Confirm Password" />
                                         <div  *ngIf="myform.get('confpassword').touched && myform.get('confpassword').hasError('required')" style="margin-top: 0px">
                                          <span style="color: rgb(190, 4, 4);display: flex"> remplir le champs</span>
                                          <br></div>
                                          <div  *ngIf=" myform.get('confpassword').hasError('minlength')" style="margin-top: 0px">
                                            <span style="color: red;display: flex"> au moin 8 caracteres</span>
                                            <br></div>
                             
                        </div> <input type="button" name="next" class="next action-button" value="Next"  />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Personal Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 5</h2>
                                </div>
                            </div> 
                            <input type="text" name="fname" formControlName="telephone" placeholder="votre telephone" required />
                            <div  *ngIf=" myform.get('telephone').hasError('maxlength')" style="margin-top: 18px">
                               <span style="color: red;display: flex"> if faut 8 caracteres</span>
                               <br></div>
                             <div  *ngIf=" myform.get('telephone').hasError('minlength')" style="margin-top: 18px">
                               <span style="color: red;display: flex"> if faut 8 caracteres</span>
                               <br></div>
                             <div  *ngIf="myform.get('telephone').touched && myform.get('telephone').hasError('required')" style="margin-top: 18px">
                               <span style="color: red;display: flex"> remplir le champs</span>
                               <br></div>
                               <div  *ngIf=" myform.get('telephone').hasError('pattern')" style="margin-top: 18px">
                                 <span style="color: red;display: flex"> accepte juste number</span>
                                 <br></div>
                                 <input type="date"  formControlName="dateDeNaissance" value="data-bs-target" name="lname"  />
                                 <div  *ngIf="myform.get('dateDeNaissance').touched && myform.get('telephone').hasError('required')" style="margin-top: 18px">
                                   <span style="color: red;display: flex"> remplir le champs</span>
                                   <br></div>
                                  <label class="fieldlabels">  adresse: *</label> 
                                  <input type="text" formControlName="adresse" name="phno" placeholder="votre adresse." />
                                  <div  *ngIf=" myform.get('adresse').hasError('maxlength')" style="margin-top: 0px">
                                   <span style="color: red;display: flex"> max 30 caracteres</span>
                                   <br></div>
                                 <div  *ngIf=" myform.get('adresse').hasError('minlength')" style="margin-top: 0px">
                                   <span style="color: red;display: flex"> au moin 3 caracteres</span>
                                   <br></div>
                                 <div  *ngIf="myform.get('adresse').touched && myform.get('adresse').hasError('required')" style="margin-top: 0px">
                                   <span style="color: red;display: flex"> remplir le champs</span>
                                   <br></div>
                                   <div  *ngIf=" myform.get('adresse').hasError('pattern')" style="margin-top: 0px">
                                     <span style="color: red;display: flex"> accepte juste alaphab et number</span>
                                     <br></div> 
                                  <label class="fieldlabels">region *</label> 
                                  <input type="text" name="phno_2" formControlName="region" placeholder="region" />
                                  <div  *ngIf=" myform.get('region').hasError('maxlength')" style="margin-top: 0px">
                                   <span style="color: red;display: flex"> max 30 caracteres</span>
                                   <br></div>
                                 <div  *ngIf=" myform.get('region').hasError('minlength')" style="margin-top: 0px">
                                   <span style="color: red;display: flex"> au moin 3 caracteres</span>
                                   <br></div>
                                 <div  *ngIf="myform.get('region').touched && myform.get('region').hasError('required')" style="margin-top: 0px">
                                   <span style="color: red;display: flex"> remplir le champs</span>
                                   <br></div>
                                   <div  *ngIf=" myform.get('region').hasError('pattern')" style="margin-top: 0px">
                                     <span style="color: red;display: flex"> accepte juste alaphab</span>
                                     <br></div>
                        </div> <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Etude:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 5</h2>
                                </div>
                            </div> 
                            <input type="text" formControlName="university" name="fname" placeholder="votre unversite" />
                            <div  *ngIf="myform.get('university').touched && myform.get('university').hasError('required')" style="margin-top: 18px">
                                <span style="color: red;display: flex"> remplir le champs</span>
                                <br></div>
                            <label class="fieldlabels">domaine:</label>
                            <input type="text" formControlName="domaine" name="fname" placeholder="votre domaine de etude" />
                            <div  *ngIf="myform.get('domaine').touched && myform.get('domaine').hasError('required')" style="margin-top: 18px">
                                <span style="color: red;display: flex"> remplir le champs</span>
                                <br></div>
                             <label class="fieldlabels">date de début: *</label> 
                              <input type="date" formControlName="EndofStudy" value="data-bs-target" name="lname"  />
                              <label class="fieldlabels" >date de fin: *</label> 
                              <input type="date" formControlName="StartofStudy" value="data-bs-target" name="lname"  />
                        </div> <input type="button" name="next" class="next action-button" value="Submit" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Etude:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 5</h2>
                                </div>
                            </div> 
                            <label class="fieldlabels">societe:</label>
                            
                            <input type="text" formControlName="nomdesocite" name="fname"  placeholder="votre societe" />
                            <label class="fieldlabels">poste:</label>
                             <input type="text" formControlName="role" name="fname" placeholder="votre poste" />
                             <label class="fieldlabels">date de début: *</label> 
                              <input type="date" formControlName="StartofWork" value="data-bs-target" name="lname"  />
                              <label class="fieldlabels">date de fin: *</label> 
                              <input type="date" formControlName="EndofWork" value="data-bs-target" name="lname"  />
                        </div> <input type="button"  name="next" class="next action-button" value="Submit" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Finish:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 5 - 5</h2>
                                </div>
                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

