<br>
<br>
<br>
<br>

<div class="card">
    <div class="card-body">

        <h2>Tout les Questions </h2>
    
        <button type="button" class="btn btn-info" (click)="getSurveyGeneral()">Général</button> 
        <button type="button" class="btn btn-info" (click)="getSurveyInformatique()">Informatique</button>
        <button type="button" class="btn btn-info" (click)="getSurveyFinances()">Finances</button>

<table class="table table-striped border-primary">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Field</th>
        <th scope="col">Question</th>
        <th scope="col"></th>
        <th scope="col"><button type="button" class="btn btn-secondary" data-bs-target="#update-add-Modal" data-bs-toggle="modal" >Ajouter</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of Surveys">
        <th scope="row">{{survey.id}}</th>
        <td>{{survey?.field}}</td>
        <td>{{survey?.question}}</td>
        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#are-you-sure-Modal">Supprimer</button></td>
        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-add-Modal" > 
            Modifier
          </button>
          </td>

         

  

       
      </tr>
    
    </tbody>
  </table>
  </div>
  </div>

  <div class="modal fade" id="are-you-sure-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes Vous Sûr ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Annuler</button>
          <button type="button" class="btn btn-primary" >Je confirme</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="update-add-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Formulaire</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">id</label>
            <input type="text" class="form-control" id="name" placeholder="" [(ngModel)]="survey.id">
          </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">field</label>
                <input type="text" class="form-control" id="name" placeholder="" [(ngModel)]="survey.field">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">question</label>
                <input type="text" class="form-control" id="LastName" placeholder="" [(ngModel)]="survey.question">
              </div>
              
             



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Save changes</button>
        </div>
      </div>
    </div>
  </div>

