<ul>
    <li>
        <a routerLink="/company/acceuil"> <i class="fa-solid fa-house-user"></i> Acceuil</a>
    </li>
  
    
    <li>
        <a routerLink="/surveyform/:field" > <i class="fa-solid fa-square-poll-vertical"></i> Demande un offre</a>
    </li>
    <li>
        <a >  <i class="fa-solid fa-clock-rotate-left"></i> Historique</a>
    </li>

    <li>
        <a routerLink="/company/setting"> <i class="fa-solid fa-gears"></i> Paramétre</a>
    </li>

    <li>
        <a class="nav-link  text-white" (click)="logout()" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false"> <i class="fas fa-sign-out-alt mx-1"></i> déconnexion </a>
    </li>

</ul>