<div class="card" style="width: 100% ">




    <div class="card-body">
        <h2 class="text-center">Tout les Utilisateurs </h2>
        <pagination-controls (pageChange)="currentPage = $event">
        </pagination-controls>
        <div class="table-responsive">
            <table class="table table-striped border-primary">
                <thead class="table-dark" style="background-color: aqua;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Nom de societe</th>
                        <th scope="col">Nom de responsable</th>
                       
                        <th scope="col">Email</th>
                        <th scope="col">Domaine</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of Users">
                        <th scope="row">{{user.id}}</th>
                        <td> <img *ngIf="!user?.image" src="assets/img/Placeholder/me.jpg" width="40px" height="40px" alt="" class="circular_image" /></td>


                        <td>{{user?.nameofCompany}}</td>
                        <td>{{user?.nameofResponsible}}</td>
                        <td>{{user?.email}}</td>
                        <td>{{user?.domaineofActivity}}</td>
                        <td class="d-flex justify-content-around">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#are-you-sure-Modal" (click)="setCurrentUser(user)">Supprimer</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-add-Modal" (click)="setCurrentUser(user)">Update</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#more-info-Modal" (click)="setCurrentUser(user)">Plus d'informations</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" style="background-color: rgb(5, 68, 104);" class="btn btn-secondary float-end" data-bs-target="#update-add-Modal" data-bs-toggle="modal">Ajouter</button>
        </div>


    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="are-you-sure-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes Vous Sûr ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Annuler</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteUser(user)">Je confirme</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="update-add-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Formulaire</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="user.image">
            <img [src]="user.image" alt="User profile picture" class="image-preview" />
          </div>
          <!-- Input field for image upload -->
          <div class="mb-3">
            <input type="file">
          </div>
  
          <form [formGroup]="myForm" >
            <div class="mb-3">
              <div class="row">
                <div class="col-1">
                  <label for="nameofCompany" class="form-label">Nom de société</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="nameofCompany" placeholder="" formControlName="nameofCompany">
                  <div *ngIf="myForm.get('nameofCompany').invalid && (myForm.get('nameofCompany').dirty || myForm.get('nameofCompany').touched)" class="text-danger">
                    <div *ngIf="myForm.get('nameofCompany').errors.required">
                      Le nom de la société est requis.
                    </div>
                    <div *ngIf="myForm.get('nameofCompany').errors.minlength">
                      Le nom de la société doit contenir au moins 3 caractères.
                    </div>
                    <div *ngIf="myForm.get('nameofCompany').errors.pattern">
                      Le nom de la société doit contenir uniquement des lettres.
                    </div>
                    <div *ngIf="myForm.get('nameofCompany').errors.maxlength">
                      Le nom de la société ne doit pas dépasser 30 caractères.
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <div class="row">
                <div class="col-1">
                  <label for="nameofResponsible" class="form-label">Nom du responsable</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="nameofResponsible" placeholder="" formControlName="nameofResponsible">
                  <div *ngIf="myForm.get('nameofResponsible').invalid && (myForm.get('nameofResponsible').dirty || myForm.get('nameofResponsible').touched)" class="text-danger">
                    <div *ngIf="myForm.get('nameofResponsible').errors.required">
                      Le nom du responsable est requis.
                    </div>
                    <div *ngIf="myForm.get('nameofResponsible').errors.minlength">
                      Le nom du responsable doit contenir au moins 3 caractères.
                    </div>
                    <div *ngIf="myForm.get('nameofResponsible').errors.pattern">
                      Le nom du responsable doit contenir uniquement des lettres.
                    </div>
                    <div *ngIf="myForm.get('nameofResponsible').errors.maxlength">
                      Le nom du responsable ne doit pas dépasser 30 caractères.
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <div class="row">
                <div class="col-1">
                  <label for="email" class="form-label">Email</label>
                </div>
                <div class="col">
                  <input type="email" class="form-control" id="email" placeholder="" formControlName="email">
                  <div *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)" class="text-danger">
                    <div *ngIf="myForm.get('email').errors.required">
                      Veuillez saisir une adresse email.
                    </div>
                    <div *ngIf="myForm.get('email').errors.email">
                      Veuillez saisir une adresse email valide.
                    </div>
                    <div *ngIf="myForm.get('email').errors?.emailExists" style="margin-top: 0px">
                      <span style="color: red;display: flex">L'email existe déjà dans la base de données.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
  
            <div class="mb-3">
              <div class="row">
                <div class="col-2">
                  <label for="password" class="form-label">Mot de passe</label>
                </div>
                <div class="col">
                  <input type="password" class="form-control" id="password" placeholder="" formControlName="password">
                  <div *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)" class="text-danger">
                    <div *ngIf="myForm.get('password').errors.required">
                      Le mot de passe est requis.
                    </div>
                    <div *ngIf="myForm.get('password').errors.minlength">
                      Le mot de passe doit contenir au moins 8 caractères.
                    </div>
                    <div *ngIf="myForm.get('password').errors.pattern">
                      Le mot de passe doit contenir au moins une lettre, un chiffre et un caractère spécial.
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <div class="row">
                <div class="col-1">
                  <label for="phone_number" class="form-label">Téléphone</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="phone_number" placeholder="" formControlName="phone_number">
                  <div *ngIf="myForm.get('phone_number').invalid && (myForm.get('phone_number').dirty || myForm.get('phone_number').touched)" class="text-danger">
                    Le numéro de téléphone est requis.
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <div class="row">
                <div class="col-1">
                  <label for="address" class="form-label">Adresse</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="address" placeholder="" formControlName="address">
                  <div *ngIf="myForm.get('address').invalid && (myForm.get('address').dirty || myForm.get('address').touched)" class="text-danger">
                    <div *ngIf="myForm.get('address').errors.required">
                      L'adresse est requise.
                    </div>
                    <div *ngIf="myForm.get('address').errors.minlength">
                      L'adresse doit contenir au moins 8 caractères.
                    </div>
                    <div *ngIf="myForm.get('address').errors.pattern">
                      L'adresse est invalide.
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <div class="row">
                <div class="col-2">
                  <label for="domaineofActivity" class="form-label">Domaine d'activité</label>
                </div>
                <div class="col">
                  <select class="form-select" id="domaineofActivity" formControlName="domaineofActivity">
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                  </select>
                  
                </div>
              </div>
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Annuler</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="myForm.invalid" (click)="AddUser()">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  

<div class="modal fade " id="more-info-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">


            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3 ml-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img *ngIf="!user?.image" src="assets/img/Placeholder/me.jpg" width="245px" height="245px" alt="" class="circular_image" />
                                <div class="mt-3">
                                    <h4>{{user.nameofCompany}} </h4>

                                    <p class="text-muted font-size-sm">{{user.domaineofActivity}}</p>

                                    <button class="btn btn-outline-primary">Contacter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">

                             
                            </li>
                        </ul>




                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                <span class="text-secondary"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                <span class="text-secondary"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                                <span class="text-secondary"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                <span class="text-secondary"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                <span class="text-secondary"></span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">nom de societe </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.nameofCompany}} 
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.email}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.phone_number}}
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">domaine d'activite</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.domaineofActivity}}
                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.address}}
                                </div>
                            </div>







                        </div>
                    </div>

                    <div class="row gutters-sm">

                        <div class="col-sm-12 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
                                    <section class="section gray-bg" id="resume">
                                        <div class="container">
                                            <div class="row">

                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 m-15px-tb">
                                                    <div class="resume-box">
                                                        <ul>
                                                            <li>
                                                               
                                                              
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 m-15px-tb">
                                                    <div class="resume-box">
                                                        <ul>
                                                           

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>


                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>








        </div>
    </div>
</div>




<!-- alers !-->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

<div *ngIf="chargement" class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
        chargement terminée </div>
</div>


<div *ngIf="mise_a_jour" class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
        Mise a jour avec succées </div>
</div>


<div *ngIf="supprimer" class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <div>
        Supprésion avec succées
    </div>
</div>



<div *ngIf="error" class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        Erreur </div>
</div>