
<div class="card" style="width: 100% " >
  
  <pagination-controls (pageChange)="currentPage = $event">
  </pagination-controls>
  
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped border-primary" >
          <thead class="table-dark" style="background-color: aqua;">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Image</th>

              <th scope="col">Prénom</th>
              <th scope="col">Nom</th>
              <th scope="col">Email</th>
              <th scope="col">Type</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of Users">
              <th scope="row">{{user.id}}</th>
              <td> <img *ngIf="!user?.image" src="assets/img/Placeholder/me.jpg" width="40px" height="40px" alt="" class="circular_image"/></td>

              
              <td>{{user?.name}}</td>
              <td>{{user?.lastName}}</td>
              <td>{{user?.email}}</td>
              <td>{{user?.role}}</td>
              <td class="d-flex justify-content-around">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#are-you-sure-Modal" (click)="setCurrentUser(user)">Supprimer</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-add-Modal" (click)="setCurrentUser(user)">Update</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#more-info-Modal" (click)="setCurrentUser(user)">Plus d'informations</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="d-flex justify-content-end">
        <button type="button" style="background-color: rgb(5, 68, 104);" class="btn btn-secondary float-end" data-bs-target="#update-add-Modal" data-bs-toggle="modal">Ajouter</button>
      </div>
      
      
  </div>
  </div>





  <!-- Modal -->
  <div class="modal fade" id="are-you-sure-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes Vous Sûr ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Annuler</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteUser(user)">Je confirme</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="update-add-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Formulaire</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

           <!-- Display user's profile picture if available -->
  <div *ngIf="user.image">
    <img [src]="user.image" alt="User profile picture" />
  </div>
          
         
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nom</label>
                <input type="email" class="form-control" id="name" placeholder="" [(ngModel)]="user.lastName">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Prénom</label>
                <input type="email" class="form-control" id="LastName" placeholder="" [(ngModel)]="user.name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="" [(ngModel)]="user.email">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mot de passe </label>
                <input type="email" class="form-control" id="password" placeholder="" [(ngModel)]="user.password">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Role</label>
                <select class="form-select" id="Role" [(ngModel)]="user.role" >
                  <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>
              </div>
             



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUser(user)"  >Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="more-info-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Plus d'informations </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Image profile</label>
            <td> <img *ngIf="!user?.image" src="assets/img/Placeholder/me.jpg" width="100px" height="100px" alt="" class="circular_image"/></td>

          </div>

          
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nom</label>
                <input type="email" class="form-control" id="name" placeholder="" [(ngModel)]="user.lastName" disabled>
              </div>
              
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Prénom</label>
                <input type="email" class="form-control" id="LastName" placeholder="" [(ngModel)]="user.name" disabled>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="" [(ngModel)]="user.email" disabled>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mot de passe </label>
                <input type="email" class="form-control" id="password" placeholder="" [(ngModel)]="user.password" disabled>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Role </label>
                <input type="email" class="form-control" id="Role" placeholder="" [(ngModel)]="user.role" disabled>
              </div>
             



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUser(user)" >Save changes</button>
        </div>
      </div>
    </div>
  </div>




  <!-- alers !-->
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

  <div *ngIf="chargement" class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
    chargement terminée   </div>
  </div>


  <div *ngIf="mise_a_jour" class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
Mise a jour avec succées    </div>
  </div>


  <div *ngIf="supprimer" class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <div>
      Supprésion avec succées
    </div>
  </div>



  <div *ngIf="error" class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
Erreur     </div>
  </div>
  


  