<form class="card form_container">
    <div class="title_container">
      <p class="title">Inscription</p>
      <span class="subtitle">Get started with our app, just create an account and enjoy the experience.</span>
    </div>
    <br>
    <div class="input_container">
        <label class="input_label" for="name_field">Nom </label>
        
        <input placeholder="nom" title="Inpit title" name="input-name" type="text" class="input_field" id="name_field">
      </div>
      <div class="input_container">
        <label class="input_label" for="email_field">Prénom</label>
        
        <input placeholder="Prénom" title="Inpit title" name="input-name" type="text" class="input_field" id="lastname_field">
      </div>
    <div class="input_container">
      <label class="input_label" for="email_field">Email</label>
      
      <input placeholder="name@mail.com" title="Inpit title" name="input-name" type="text" class="input_field" id="email_field">
    </div>
    <div class="input_container">
      <label class="input_label" for="password_field">Password</label>
  
      <input placeholder="Password" title="Inpit title" name="input-name" type="password" class="input_field" id="password_field">
    </div>
    <div class="input_container">
        <label class="input_label" for="password_field">Confirmer mot de passe</label>
    
        <input placeholder="Password" title="Inpit title" name="input-name" type="password" class="input_field" id="password_field">
      </div>
    <button title="Sign up" type="submit" class="sign-in_btn">
      <span (click)="Onclick()"> next</span>
    </button>
  
    
  </form>