<ul>
    <li>
        <a routerLink="/user"> <i class="fa-solid fa-house-user"></i>Acceuil</a>
    </li>
    <li>
        <a [routerLink]="'/user/surveyform/' + user.domain">
            <i class="fa-solid fa-square-poll-vertical"></i>Faire un test
        </a>
    </li>
    <li>
        <a routerLink="/user/offresUser"> <i class="fa-solid fa-clock-rotate-left"></i>Liste des Offres</a>
    </li>
    <li>
        <a routerLink="/user/setting"> <i class="fa-solid fa-gears"></i>Paramétre</a>
    </li>
    <li>
        <a class="nav-link  text-white" (click)="logout()" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-sign-out-alt mx-1"></i>Déconnexion
        </a>
    </li>
</ul>