<ul>
    <li>
        <a routerLink="/dashboard"> <i class="fa-solid fa-house-user"></i> Acceuil</a>
    </li>
    <li>
        <a> <i class="fa-solid fa-users"></i> Utilisateurs &#x25BE;</a>
        <ul class="dropdown">

            <li><a routerLink="/dashboard/users"> Client</a></li>
            <li><a routerLink="/dashboard/companys"> Societe</a></li>
            <li><a routerLink="/dashboard/admins">Admin</a></li>
        </ul>
    </li>
    <li>
        <a> <i class="fa-solid fa-clipboard-question"></i> Base de données &#x25BE;</a>
        <ul class="dropdown">

            <li><a routerLink="/dashboard/surveys"> Enquêtes</a></li>
            <li><a routerLink="/dashboard/questions"> Questions</a></li>
            <li><a routerLink="/dashboard/answers">Answers</a></li>
        </ul>
    </li>
    <li>
        <a routerLink="/dashboard/demands"> <i class="fa-solid fa-square-poll-vertical"></i> Offre</a>
    </li>
    <li>
        <a routerLink="/dashboard/results"> <i class="fa-solid fa-square-poll-vertical"></i> Résultat</a>
    </li>

    <li>
        <a routerLink="/dashboard/settings"> <i class="fa-solid fa-gears"></i> Paramétre</a>
    </li>

    <li>
        <a class="nav-link  text-white" (click)="logout()" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false"> <i class="fas fa-sign-out-alt mx-1"></i> Déconnexion </a>
    </li>

</ul>