<div class="wrapper">
     
    <!--Top menu -->
  
    <div class="sidebar">
       <!--profile image & text-->
       <div class="profile">
        <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
        <h3>hedhli khalil</h3>
        <p>Designer</p>
    </div>
    
    <ul>
    
   
     <li>
         <a routerLink="/dashboard/users">
             <span ><i class="fas fa-user-friends" routerLink="/dashboard/users"></i></span>
             <span style="margin-left  :8%" class="item" routerLink="/dashboard/users">Utilisateurs</span>
         </a>
     </li>
     <li>
         <a routerLink="/dashboard/questions">
             <span ><i class="fas fa-tachometer-alt" a routerLink="/dashboard/questions"></i></span>
             <span style="margin-left  :8%" class="item"  routerLink="/dashboard/questions">Questions</span>
         </a>
     </li>
     
    

     <li>
         <a routerLink="/dashboard/settings">
             <span ><i class="fas fa-cog"></i></span>
             <span style="margin-left  :8%" class="item" >Settings</span>
         </a>
     </li>
 </ul>
</div>
    </div>