<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{{user.image ? user.image : 'https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg'}}">
                <span class="font-weight-bold">{{user.name}} {{user.lastName}}</span>
                <span class="text-black-50">{{user.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" placeholder="Nom" value="" [(ngModel)]="user.lastName"></div>
                    <div class="col-md-6"><label class="labels">Prénom</label><input type="text" class="form-control" value="" placeholder="Prénom" [(ngModel)]="user.name"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="" [(ngModel)]="user.email"></div>
                    <div class="col-md-12"><label class="labels">Téléphone</label><input type="text" class="form-control" placeholder="Votre Téléphone SVP" value="" [(ngModel)]="user.phone_number"></div>
                    <div class="col-md-12"><label class="labels">Address  </label><input type="text" class="form-control" placeholder="Votre Address SVP" value="" [(ngModel)]="user.address"></div>
                    <div class="col-md-12"><label class="labels">Région</label><input type="text" class="form-control" placeholder="Votre région SVP" value="" [(ngModel)]="user.address"></div>
                    <div class="col-md-12"><label class="labels">Université</label><input type="text" class="form-control" placeholder="Votre Université SVP" value="" [(ngModel)]="user.university"></div>
                    <div class="col-md-12"><label class="labels">Domaine d'étude</label><input type="text" class="form-control" placeholder="Votre Domaine d'étude SVP" value="" [(ngModel)]="user.domain"></div>
                    <div class="col-md-12"><label class="labels">date de debut des études</label><input type="date" class="form-control" placeholder="date de debut des études" value="data-bs-target" [(ngModel)]="user.startofStudy"></div>
                    <div class="col-md-12"><label class="labels">date de fin des études</label><input type="date" class="form-control" placeholder="date de fin des études" value="data-bs-target" [(ngModel)]="user.endofStudy"></div>

                </div>


                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="getemail()">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Nom d'entreprise</label><input type="text" class="form-control" placeholder="experience" value="" [(ngModel)]="user.NameofCompany"></div> <br>
                <div class="col-md-12"><label class="labels">Poste</label><input type="text" class="form-control" placeholder="additional details" value=""></div> <br>
                <div class="col-md-12"><label class="labels">date de debut de Poste</label><input type="date" class="form-control" value="data-bs-target" [(ngModel)]="user.startofWork"></div>
                <div class="col-md-12"><label class="labels">date de fin des Poste</label><input type="date" class="form-control" value="data-bs-target" [(ngModel)]="user.endofWork"></div>
            </div>
        </div>
    </div>
    <a [routerLink]="['/surveyform', 'informatique']">Remplir le domaine informatique</a>
    <br>
    <a [routerLink]="['/surveyform', 'finances']">Remplir l'enquête sur le domaine finances</a>
    <br>
    <a [routerLink]="['/surveyform', 'general']">Remplir l'enquête Général</a>

</div>