@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #416DB8
}

.profile-button {
    background: #416DB8;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #416DB8
}

.profile-button:focus {
    background: #416DB8 ;
    box-shadow: none
}

.profile-button:active {
    background: #416DB8 ;
    box-shadow: none
}

.back:hover {
    color: #416DB8;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #416DB8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #416DB8
}