<div class="card text-center" style="width: 400px; margin-top: 10% ; margin-left: 40%; margin-right: 20%;">
    <div class="card-header h5 text-white bg-primary">Verification Mail</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Entrez votre adresse e-mail et nous vous enverrons un e-mail avec les instructions pour réinitialiser votre mot de passe. </p>
        <div class="form-outline">
            <label class="form-label" for="typeEmail">Email</label>
            <input type="email" id="typeEmail" class="form-control my-3" [(ngModel)]="email" />
        </div>


        <a class="btn btn-primary w-100" (click)="sendEmail()">Valider</a>
        <div class="form-outline">
            <label class="form-label mt-4" for="typeEmail">Code</label>
            <input type="text" id="typeEmail" class="form-control my-3" [(ngModel)]="code" />
        </div>
        <a class="btn btn-primary w-100" (click)="validateCode()">Verifier Code</a>

        <div class="d-flex justify-content-between mt-4">
            <a class="" routerLink="/login">Login</a>
            <a class="" routerLink="/progressbar">Inscription</a>
        </div>
    </div>
</div>