
<div class="card" style="width: 100% ;opacity: 90%;" >
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<div class="container">


    <div class="row">
    

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span *ngIf="question_count>0" class="count-numbers">{{question_count}}</span>
        <span *ngIf="question_count<0 " class="count-numbers">None</span>
        <span *ngIf="question_count===0 " class="count-numbers">Zero</span>

        <span class="count-name">Questions</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span *ngIf="survey_count>0" class="count-numbers">{{survey_count}}</span>
        <span *ngIf="survey_count<0 " class="count-numbers">None</span>
        <span *ngIf="survey_count===0 " class="count-numbers">Zero</span>

        <span class="count-name">Surveys</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span *ngIf="user_count>0" class="count-numbers">{{user_count}}</span>
        <span *ngIf="user_count<0 " class="count-numbers">None</span>
        <span *ngIf="user_count===0 " class="count-numbers">Zero</span>


        <span class="count-name">Utilisateurs</span>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">

  <p>Admin User charts here !</p>
  </div>
  
  <div class="col-md-3">
    <p>Admin active users  here !</p>

</div>

  </div>
</div>

</div>


