<app-sidebar></app-sidebar>

<div class="card" style="width: 75%; margin-left: 20%; margin-top: 15%; " >
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped border-primary" >
          <thead class="table-dark" style="background-color: aqua;">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Prénom</th>
              <th scope="col">Nom</th>
              <th scope="col">Email</th>
              <th scope="col">Type</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of Users">
              <th scope="row">{{user.id}}</th>
              <td>{{user?.name}}</td>
              <td>{{user?.lastName}}</td>
              <td>{{user?.email}}</td>
              <td>{{user?.role}}</td>
              <td class="d-flex justify-content-around">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#are-you-sure-Modal" (click)="setCurrentUser(user)">Supprimer</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-add-Modal" (click)="setCurrentUser(user)">Update</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#more-info-Modal" (click)="setCurrentUser(user)">Plus d'informations</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="d-flex justify-content-end">
        <button type="button" style="background-color: rgb(5, 68, 104);" class="btn btn-secondary float-end" data-bs-target="#update-add-Modal" data-bs-toggle="modal">Ajouter</button>
      </div>
      
      
  </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="are-you-sure-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes Vous Sûr ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Annuler</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteUser(user)">Je confirme</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="update-add-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Formulaire</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Type</label>
            <input type="email" class="form-control" id="name" placeholder="" [(ngModel)]="user.role">
          </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nom</label>
                <input type="email" class="form-control" id="name" placeholder="" [(ngModel)]="user.lastName">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Prénom</label>
                <input type="email" class="form-control" id="LastName" placeholder="" [(ngModel)]="user.name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="" [(ngModel)]="user.email">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mot de passe </label>
                <input type="email" class="form-control" id="password" placeholder="" [(ngModel)]="user.password">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Role</label>
                <select class="form-select" id="Role" [(ngModel)]="user.role" >
                  <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>
              </div>
             



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUser(user)"  >Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="more-info-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Plus d'informations </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          


          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Type</label>
            <input type="email" class="form-control" id="name" placeholder="" [(ngModel)]="user.role" disabled>
          </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nom</label>
                <input type="email" class="form-control" id="name" placeholder="" [(ngModel)]="user.lastName" disabled>
              </div>
              
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Prénom</label>
                <input type="email" class="form-control" id="LastName" placeholder="" [(ngModel)]="user.name" disabled>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="" [(ngModel)]="user.email" disabled>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mot de passe </label>
                <input type="email" class="form-control" id="password" placeholder="" [(ngModel)]="user.password" disabled>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Role </label>
                <input type="email" class="form-control" id="Role" placeholder="" [(ngModel)]="user.role" disabled>
              </div>
             



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUser(user)" >Save changes</button>
        </div>
      </div>
    </div>
  </div>


  


  