<br>
<br>
<br>
<br><br>
<div class="card">
    <div class="card-body">
        <p>all-users works!</p>
<table class="table table-striped border-primary">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users">
        <th scope="row">{{user.id}}</th>
        <td>{{user?.nom}}</td>
        <td>{{user?.prenom}}</td>
        <td>{{user?.email}}</td>
        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#are-you-sure-Modal" (click)="setCurrentUser(user)">Supprimer</button></td>
        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-add-Modal" (click)="setCurrentUser(user)"> 
            Update 
          </button>
          </td>
  <!-- Modal -->
  <div class="modal fade" id="are-you-sure-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes Vous Sûr ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="deleteUser(user)">Je confirme</button>
        </div>
      </div>
    </div>
  </div>

       
      </tr>
    
    </tbody>
  </table>
  </div>
  </div>


  <div class="modal fade" id="update-add-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="email" class="form-control" id="name" placeholder="" [(ngModel)]="user.nom">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Category</label>
                <input type="email" class="form-control" id="category" placeholder="" [(ngModel)]="user.prenom">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Rating</label>
                <input type="email" class="form-control" id="rating" placeholder="" [(ngModel)]="user.email">
              </div>
             



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  >Save changes</button>
        </div>
      </div>
    </div>
  </div>


  


  