<div class="card text-center" style="width: 400px; margin-top: 10% ; margin-left: 40%; margin-right: 20%;">
    <div class="card-header h5 text-white bg-primary">Formulaire mot de passe</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Taper votre nouveau mot de passe </p>
        <div class="form-outline">
            <input type="password" placeholder="Nouveau mot de passe" id="typePassword" class="form-control my-3" />
            <input type="password" placeholder="Réecrire nouveau mot de passe" id="typePassword" class="form-control my-3" />
        </div>
        <a href="#" class="btn btn-primary w-100">Valider</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" routerLink="/login">Login</a>
            <a class="" routerLink="/progressbar">Register</a>
        </div>
    </div>
</div>