
<section class="bg-light-gradient  border-light ">
  <div class="bg-holder overlay " style="background-image:url(assets/img/Background.png);background-size:cover;"></div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row flex-center mt-8">
      <div class="col-12 mb-10">
        <div class="d-flex align-items-center flex-column">
         
          <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold text-white">ENNAJIM</h1>
          <h1 class="fw-normal tw text-white">Peut </h1> 
<br>
          <button type="button" class="btn btn-warning btn-lg text-white" routerLink="/login">Démarrez</button>

        
        </div>
      </div>
    </div>

    
<!-- trust list-->
    <div class="row flex-center" id="clients">
      <div class="col-12 mb-10">
        <div class="d-flex align-items-center flex-column partner-logos">
         
          <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold text-white ">Nos Partenaires</h1>
          <ul data-aos="zoom-in">
            <li><img src="assets/img/entreprise/vermeg.png" alt="Logo partenaire 1"></li>
            <li><img src="assets/img/entreprise/oreedoo.png" alt="Logo partenaire 2"></li>
            <li><img src="assets/img/entreprise/tunisie_telecom.png" alt="Logo partenaire 3"></li>
            <li><img src="assets/img/entreprise/actia.png" alt="Logo partenaire 4"></li>
            <li><img src="assets/img/entreprise/orange.png" alt="Logo partenaire 5"></li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- about us section -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title text-white text-center mb-5">
        <h2>About Us</h2>
      </div>
  
      <div class="row content text-white">
        <div class="col-lg-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="#" class="btn-learn-more text-white">Learn More</a>
        </div>
      </div>
  
    </div>
  </section><!-- End About Us Section -->



</section>



   <!-- ======= Team Section ======= -->
   <section id="team" class="team section-bg mt-0" style="background-color: #ffffff;background-size:cover;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 class="text-center">Team</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/Placeholder/me.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Oumaima Gharbi</h4>
              <span>CEO</span>
              <p>"Je suis extrêmement fier de diriger cette équipe talentueuse et passionnée. Ensemble, nous avons tous les atouts pour créer un produit qui révolutionnera l'industrie. Nous travaillons dur pour répondre aux besoins de nos utilisateurs et pour offrir une expérience utilisateur de qualité."</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/Placeholder/khalil.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Noussair Gharbi</h4>
              <span>Product Manager</span>
              <p> "En tant que product manager, je suis fier de travailler avec cette équipe de professionnels talentueux. Nous sommes tous alignés sur les objectifs du projet et nous nous engageons à fournir un produit de qualité qui répondra aux besoins de nos utilisateurs."</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/Placeholder/me.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Neder Mfarrej</h4>
              <span>Developpeur</span>
              <p>"Je suis fier de faire partie de cette équipe et de contribuer à un projet aussi passionnant. Nous sommes tous motivés à créer un produit de qualité qui répondra aux besoins de nos utilisateurs"</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/Placeholder/khalil.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Khalil Hedhli</h4>
              <span>Developpeur</span>
              <p>"C'est un honneur pour moi de travailler avec une équipe aussi compétente et dévouée. Nous mettons tous nos talents en commun pour créer un produit innovant qui se démarquera sur le marché."</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->



  <section id="team" class="team section-bg mt-0" style="background-color: #416DB8;background-size:cover;">

    <h2 class="text-center text-white">Nos Clients sont satisfaits</h2>
  <div class="container mt-5">
    <div class="row">
      
        <div class="col-md-4">
          
            <div class="testimonial p-3 bg-dark text-center rounded text-white" ><img src="https://i.imgur.com/lU2pDQv.png" width="40">
                <p>J'ai été impressionné par la rapidité et l'efficacité avec lesquelles mon problème a été résolu. Le personnel était compétent et courtois, et j'ai été très satisfait de l'ensemble de l'expérience.</p><img class="rounded-circle" src="https://i.imgur.com/4DEiXLa.jpg"
                    width="50">
                <h5>John Doe</h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="testimonial p-3 bg-dark text-center rounded text-white"><img src="https://i.imgur.com/lU2pDQv.png" width="40">
                <p>Je recommande vivement cette entreprise à quiconque cherche un service de qualité. Le personnel est sympathique et professionnel, et les résultats sont toujours à la hauteur de mes attentes.</p><img class="rounded-circle" src="https://i.imgur.com/nbO4gwx.jpg"
                    width="50">
                <h5>Tony Sam</h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="testimonial p-3 bg-dark text-center rounded text-white"><img src="https://i.imgur.com/lU2pDQv.png" width="40">
                <p>J'ai été très satisfait du service que j'ai reçu. Le personnel était aimable et compétent, et j'ai pu résoudre mon problème rapidement et efficacement.</p><img class="rounded-circle" src="https://i.imgur.com/xbWPOrc.jpg"
                    width="50">
                <h5>Marry Doe</h5>
            </div>
        </div>
    </div>
</div>



</section>

        
          

        