
<section class="bg-light-gradient  border-light ">
  <div class="bg-holder overlay " style="background-image:url(assets/img/Background.png);background-size:cover;"></div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row flex-center mt-8">
      <div class="col-12 mb-10">
        <div class="d-flex align-items-center flex-column">
         
          <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold text-white">ENNAJIM</h1>
          <h1 class="fw-normal tw text-white">Peut </h1> 
<br>
          <button type="button" class="btn btn-warning btn-lg text-white">Démarrez</button>

        
        </div>
      </div>
    </div>

    
<!-- trust list-->
    <div class="row flex-center" id="clients">
      <div class="col-12 mb-10">
        <div class="d-flex align-items-center flex-column partner-logos">
         
          <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold text-white ">Nos Partenaires</h1>
          <ul data-aos="zoom-in">
            <li><img src="assets/img/entreprise/vermeg.png" alt="Logo partenaire 1"></li>
            <li><img src="assets/img/entreprise/oreedoo.png" alt="Logo partenaire 2"></li>
            <li><img src="assets/img/entreprise/tunisie_telecom.png" alt="Logo partenaire 3"></li>
            <li><img src="assets/img/entreprise/actia.png" alt="Logo partenaire 4"></li>
            <li><img src="assets/img/entreprise/orange.png" alt="Logo partenaire 5"></li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- about us section -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title text-white text-center mb-5">
        <h2>About Us</h2>
      </div>
  
      <div class="row content text-white">
        <div class="col-lg-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="#" class="btn-learn-more text-white">Learn More</a>
        </div>
      </div>
  
    </div>
  </section><!-- End About Us Section -->



</section>



   <!-- ======= Team Section ======= -->
   <section id="team" class="team section-bg mt-0" style="background-color: #ffffff;background-size:cover;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 class="text-center">Team</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/Placeholder/me.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Oumaima Gharbi</h4>
              <span>CEO</span>
              <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/Placeholder/khalil.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Noussair Gharbi</h4>
              <span>Product Manager</span>
              <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/Placeholder/me.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Neder Mfarrej</h4>
              <span>Developpeur</span>
              <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/Placeholder/khalil.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Khalil Hedhli</h4>
              <span>Developpeur</span>
              <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->


  <section class="gradient-custom">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="text-center mb-4 pb-2">
            <i class="fas fa-quote-left fa-3x text-white"></i>
          </div>
  
          <div class="card">
            <div class="card-body px-4 py-5">
              <!-- Carousel wrapper -->
              <div id="carouselDarkVariant" class="carousel slide carousel-dark" data-mdb-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators mb-0">
                  <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1"
                    aria-label="Slide 1"></button>
                  <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2"
                    aria-label="Slide 1"></button>
                </div>
  
                <!-- Inner -->
                <div class="carousel-inner pb-5">
                  <!-- Single item -->
                  <div class="carousel-item active">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-10 col-xl-8">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                          </div>
                          <div
                            class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">Maria Smantha - Web Developer</h4>
                            <p class="mb-0 pb-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                              aliquam amet animi blanditiis consequatur debitis dicta
                              distinctio, enim error eum iste libero modi nam natus
                              perferendis possimus quasi sint sit tempora voluptatem. Est,
                              exercitationem id ipsa ipsum laboriosam perferendis.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Single item -->
                  <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-10 col-xl-8">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                          </div>
                          <div
                            class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">Lisa Cudrow - Graphic Designer</h4>
                            <p class="mb-0 pb-3">
                              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                              accusantium doloremque laudantium, totam rem aperiam, eaque
                              ipsa quae ab illo inventore veritatis et quasi architecto
                              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                              quia voluptas sit aspernatur.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Single item -->
                  <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-10 col-xl-8">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                          </div>
                          <div
                            class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">John Smith - Marketing Specialist</h4>
                            <p class="mb-0 pb-3">
                              At vero eos et accusamus et iusto odio dignissimos qui
                              blanditiis praesentium voluptatum deleniti atque corrupti quos
                              dolores et quas molestias excepturi sint occaecati cupiditate
                              non provident, similique sunt in culpa qui officia mollitia
                              animi id laborum et dolorum fuga.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Inner -->
  
                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                  data-mdb-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                  data-mdb-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- Carousel wrapper -->
            </div>
          </div>
  
          <div class="text-center mt-4 pt-2">
            <i class="fas fa-quote-right fa-3x text-white"></i>
          </div>
        </div>
      </div>
    </div>
  </section>





        
          

        